<div *ngFor="let p of postsToDisplay" class="row post-body">
    <div class="col-xs-12 col-md-offset-2 col-lg-offset-2 col-md-8 col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading text-center">
                <h2 class="post-title">{{ p.title }}</h2>
            </div>
            <div class="panel-image">
                <img [src]="'https://s3.amazonaws.com/rev-grouptwo/images/'+p.hash" class="panel-image-preview" />
            </div>
            <div class="panel-body">
                <p>{{ p.post_text }}</p>
            </div>
            <!-- <div class="panel-footer clearfix">
                <a href="#download" class="btn btn-primary btn-sm btn-hover pull-left">Save
                    <span class="fa fa-bookmark"></span>
                </a>
                <a href="#facebook" class="btn btn-success btn-sm btn-hover pull-left" style="margin-left: 5px;">Shr
                    <span class="glyphicon glyphicon-send"></span>
                </a>
                <a class="btn comsys btn-danger btn-sm btn-hover pull-left" style="margin-left: 5px;">Cmt
                    <span class="fa fa-comment"></span>
                </a>
                <a href="#share" class="btn btn-warning btn-sm btn-hover pull-left" style="margin-left: 5px;">Like
                    <span class="fa fa-thumbs-up"></span>
                </a>
            </div> -->
        </div>
        <hr>
    </div>
</div>