<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>SocialMedia</display-name>
  <servlet>
    <servlet-name>AllPostsServlet</servlet-name>
    <servlet-class>com.revature.servlet.AllPostsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllPostsServlet</servlet-name>
    <url-pattern>/allPosts</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.revature.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.revature.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterUserServlet</servlet-name>
    <servlet-class>com.revature.servlet.RegisterUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterUserServlet</servlet-name>
    <url-pattern>/registerUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateUserDetailsServlet</servlet-name>
    <servlet-class>com.revature.servlet.UpdateUserDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserDetailsServlet</servlet-name>
    <url-pattern>/updateInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SingleUserPostsServlet</servlet-name>
    <servlet-class>com.revature.servlet.SingleUserPostsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SingleUserPostsServlet</servlet-name>
    <url-pattern>/singleUserPosts</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SessionServlet</servlet-name>
    <servlet-class>com.revature.servlet.SessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionServlet</servlet-name>
    <url-pattern>/session</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResetUserPasswordServlet</display-name>
    <servlet-name>ResetUserPasswordServlet</servlet-name>
    <servlet-class>com.revature.servlet.ResetUserPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetUserPasswordServlet</servlet-name>
    <url-pattern>/ResetUserPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAProfileServlet</display-name>
    <servlet-name>ViewAProfileServlet</servlet-name>
    <servlet-class>com.revature.servlet.ViewAProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAProfileServlet</servlet-name>
    <url-pattern>/ViewAProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewFeedServlet</display-name>
    <servlet-name>ViewFeedServlet</servlet-name>
    <servlet-class>com.revature.servlet.ViewFeedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewFeedServlet</servlet-name>
    <url-pattern>/ViewFeedServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmailUser</display-name>
    <servlet-name>EmailUser</servlet-name>
    <servlet-class>com.revature.servlet.EmailUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailUser</servlet-name>
    <url-pattern>/EmailUser</url-pattern>
  </servlet-mapping>
</web-app>