<div class="text-center" style="margin-top: 20px;">
  <div class="row">
    <div class="col-xs-12 col-md-offset-2 col-lg-offset-2 col-md-8 col-lg-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="new-post-title">Create A New Post</h4>
        </div>
        <div class="panel-body">
          <form class="new-post-form" action="http://localhost:8080/SocialMedia/NewPostServlet" method="post" enctype="multipart/form-data">
            <div class="form-group">
              <input name="postImage" type="file" accept="image/*" onchange="loadFile(event)" required>
              <img class="img-responsive" id="output" />
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="title" placeholder="Post title" required>
            </div>
            <div class="form-group">
              <textarea class="form-control" name="postSummary" rows="5" placeholder="Enter your post summary here..."></textarea>
            </div>
            <button class="btn btn-primary new-post-btn" type="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>